language: node_js
cache: yarn
notifications:
  email: false
node_js:
  - '10'
script:
  - yarn test:prod && yarn build
after_success:
  - yarn travis-deploy-once "npm run report-coverage"
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run travis-deploy-once "yarn deploy-docs"; fi
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run travis-deploy-once "yarn semantic-release"; fi
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
